@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Catamaran:wght@400;600&family=Maitree:wght@400;600&display=swap');

body{
  margin: 0;
  background-color: black;
  animation: fadeIn 2s;
}

*{
  box-sizing: border-box;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.homeBG{
    height: 100vh;
    background-color: #b8b8b8;
    background-image: url(../img/Homepage_BG_Picture.jpg);
    background-size: cover;
    background-position: center; 
}

.line{
    height: 5px;
    width: 58px;
    border-radius: 15%;
    background-color: #F0F4F3;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 4%;
}

.bgGradient{
  background: linear-gradient( rgba(24,17,18,1) 0%, rgba(63,58,67,1) 100%);  
}


/* font */
.assistant-reg{
   font-family: 'Assistant', sans-serif;
  font-weight:400;
}

.assistant-b{
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
}

.catamara{
  font-family: 'Catamaran', sans-serif;
}


.catamara-semib{
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

.maitree{
  font-family: 'Maitree', serif;
  font-weight:400;
}
.maitree-semib{
  font-family: 'Maitree', serif;
  font-weight: 600;
}
/*  */

/* size and color */
.white70{
  font-size: 70px;
  text-align: center;
  color: #F0F4F3;
  padding: 15% 0;
}

.white33{
  font-size: 33px;
  text-align: center;
  color: #F0F3F3;
  line-height:54px;
  margin: 0;
}

.white30{
    font-size: 30px;
    text-align: left;
    color: #F0F4F3;
    line-height: 44px;
}

.white28{
    font-size: 28px;
    color: #F0F3F3;
}

.white22{
    font-size: 22px;
    color: #F0F3F3;
}

.pink50{
  font-size: 50px;
  text-align: center;
  color: #FEA2A2;
  margin-top: 5%;
  line-height:54px;
}

.pink60{
    font-size: 60px;
    text-align: left;
    color: #FEA2A2;
    line-height:99px;
}

.black20{
    font-size: 20px;
    color: #5f5865;
    line-height: 25px;
}

/*  */



.logo{
  width: 100%;
  height: auto;
  padding-left: 100px;
  padding-top: 40px;
}

.bigAssLogo{
    width: 100%;
    height: auto;
}

/* responsive image */
.rsp{
    max-width: 100%;
    width: 330px;
    height: auto;
}

.histOfCard{
    margin-top: 25%;
}

.container{
    margin-top: 20%;
    position: relative;
    text-align: center;
}

.cardtitle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navButton{
    width: 262px;
    height: auto;
    background-color: #FEA2A2;
    border-radius: 60px;
    text-align: center;
    cursor: pointer;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 20%;
    transition: all 0.3s ease;
}

.navButton:hover{
    background-color: #ffd3d3;
    border-radius: 25px;
}

.navButton a{
    text-decoration: none;
}

.navButtonTitle{
    padding: 3%;
}


/*current page underline*/
.current{
    text-decoration: underline!important;
    animation: none!important;
}

.current:hover{
    color: #F0F4F3!important;
}


/* nav bar style*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 100px;
}

.navbar-links li{
    list-style: none;
    font-size: 20px;
}

.navbar-links li a{
    color: #F0F4F3;
    text-decoration: none;
    display:block;
    padding: 1rem;
    transition: all 0.3s ease;
}

.navbar-links ul li a:hover{
    color: gray;
    padding-top: 10px;
}
/* nav bar style*/

/*Toggle button*/
.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #F0F4F3;
    border-radius: 10px;
}
/*Toggle Button*/

/*Media Queries for Phone*/
@media (max-width: 800px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        background-color: rgba(95, 88, 101, 0.1);
      padding-right: 0px;
    }

    .navbar-links li{
        text-align: center
    }
    
    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .picture{
        width: 35%;
    }

    .logo{
      padding-left: 20px;
      padding-top: 20px;
      width: 70%;
    }


    .bigfontsize{
      font-size: 40px;
      margin-top: 30%;
    }
}


/* footer styling */

.footerContainer{
	max-width: 1170px;
    max-height: 232px;
	margin:auto;
}
.footerRow{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #FEA2A2;
    padding: 50px 0;
    padding-left: 10%;
}
.footer-col{
   width: 30%;
   margin: 0 auto;
}

.footer-col h4{
    margin-bottom: 0;
}
.footer-col ul{
	list-style: none;
    padding: 0;
}
.footer-col ul li a{
    font-size: 18px;
    color: #5f5865;
    line-height: 25px;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #F0F4F3;
	padding-left: 8px;
}

.footerLogo{
    float: left;
    padding-top: 20px;
    padding-right: 5px;
}
/* ............ */


/*12gridProperties*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* default - small devices */

[class*="col"] {
    grid-column-end: span 12;
}


/* below 600px typically tablet*/

@media only screen and (max-width: 600px) {

    
    .pink60{
        font-size: 35px;
    }
    .pink50{
        font-size: 30px;
        line-height: 35px;
    }

    .white70{
        font-size: 45px;
        text-align: left;
    }
    .white33{
        font-size: 23px;
        line-height: 25px;
    }
    .white30{
        font-size: 20px;
        line-height: 30px;
    }
    .white28{
        font-size: 20px;
    }
    .white22{
        font-size: 15px;
    }

    .navButton{
        margin-left: 25%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 200px;
        border-radius: 40px;
        
    }

    .bigAssLogo{
        margin-bottom: 100px;
    }

    .rsp{
        width:70%;
    }

    .line{
        margin-top: 65%;
    }

    .footer-col{
        width: 100%;
    }

    .footerContainer{
        max-height: none;
    }

    .padded {
        padding: 20px;
    }
    .sm1 {
        grid-column-end: span 12;
    }
    .sm2 {
        grid-column-end: span 6;
    }
    .sm3 {
        grid-column-end: span 4;
    }
    .sm4 {
        grid-column-end: span 3;
    }
    .sm6 {
        grid-column-end: span 2;
    }
    .sm12 {
        grid-column-end: span 1;
    }
}

/* above 601px typically tablet*/

@media only screen and (min-width: 601px) {

    /* .footer-col{
        width: 50%;
        margin-bottom: 30px;
    } */

    .padded {
        padding: 80px;
    }
    .md1 {
        grid-column-end: span 12;
    }
    .md2 {
        grid-column-end: span 6;
    }
    .md3 {
        grid-column-end: span 4;
    }
    .md4 {
        grid-column-end: span 3;
    }
    .md6 {
        grid-column-end: span 2;
    }
    .md12 {
        grid-column-end: span 1;
    }
}

/* above 1025px typically desktop*/

@media only screen and (min-width: 1025px) {
    .padded {
        padding: 50px 140px;
    }
    .col1 {
        grid-column-end: span 12;
    }
    .col2 {
        grid-column-end: span 6;
    }
    .col3 {
        grid-column-end: span 4;
    }
    .col4 {
        grid-column-end: span 3;
    }
    .col6 {
        grid-column-end: span 2;
    }
    .col12 {
        grid-column-end: span 1;
    }
}
