body{
  margin: 0;
  background-color: black;
  animation: fadeIn 2s;
}

*{
  box-sizing: border-box;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.homeBG{
    height: 100vh;
    background-color: #b8b8b8;
    background-image: url(../img/Homepage_BG_Picture.jpg);
    background-size: cover;
    background-position: center;
}

.line{
    height: 5px;
    width: 58px;
    border-radius: 15%;
    background-color: #F0F4F3;
    margin: 0 auto;
}

.bgGradient{
  background: linear-gradient( rgba(24,17,18,1) 0%, rgba(63,58,67,1) 100%);  
}


/* font */
.assistant-reg{
   font-family: 'Assistant', sans-serif;
  font-weight:400;
}

.assistant-b{
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
}

.catamara{
  font-family: 'Catamaran', sans-serif;
}


.catamara-semib{
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

.maitree{
  font-family: 'Maitree', serif;
  font-weight:400;
}
.maitree-semib{
  font-family: 'Maitree', serif;
  font-weight: 600;
}
/*  */

/* size and color */
.white70{
  font-size: 70px;
  text-align: center;
  color: #F0F4F3;
  padding: 15% 0;
}

.white33{
  font-size: 33px;
  text-align: center;
  color: #F0F3F3;
  line-height:54px;
  margin: 0;
}

.pink50{
  font-size: 50px;
  text-align: center;
  color: #FEA2A2;
  margin-top: 5%;
  line-height:54px;
}
/*  */



.logo{
  width: 100%;
  height: auto;
  padding-left: 100px;
  padding-top: 40px;
}

/*current page underline*/
.current{
    text-decoration: underline!important;
}



/* nav bar style*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 100px;
}

.navbar-links li{
    list-style: none;
    font-size: 20px;
}

.navbar-links li a{
    color: #F0F4F3;
    text-decoration: none;
    display:block;
    padding: 1rem;
}

.navbar-links ul li a:hover{
    color: gray;
}
/* nav bar style*/

/*Toggle button*/
.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #F0F4F3;
    border-radius: 10px;
}
/*Toggle Button*/

/*Media Queries for Phone*/
@media (max-width: 800px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        background-color:  lightgray;
      padding-right: 0px;
    }

    .navbar-links li{
        text-align: center
    }
    
    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .picture{
        width: 35%;
    }

    .logo{
      padding-left: 20px;
      padding-top: 20px;
    }

    .bigfontsize{
      font-size: 40px;
      margin-top: 30%;
    }
}


/*12gridProperties*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* default - small devices */

[class*="col"] {
    grid-column-end: span 12;
}

/* below 600px typically tablet*/

@media only screen and (max-width: 600px) {
    .sm1 {
        grid-column-end: span 12;
    }
    .sm2 {
        grid-column-end: span 6;
    }
    .sm3 {
        grid-column-end: span 4;
    }
    .sm4 {
        grid-column-end: span 3;
    }
    .sm6 {
        grid-column-end: span 2;
    }
    .sm12 {
        grid-column-end: span 1;
    }
}

/* above 601px typically tablet*/

@media only screen and (min-width: 601px) {
    .md1 {
        grid-column-end: span 12;
    }
    .md2 {
        grid-column-end: span 6;
    }
    .md3 {
        grid-column-end: span 4;
    }
    .md4 {
        grid-column-end: span 3;
    }
    .md6 {
        grid-column-end: span 2;
    }
    .md12 {
        grid-column-end: span 1;
    }
}

/* above 1025px typically desktop*/

@media only screen and (min-width: 1025px) {
    .col1 {
        grid-column-end: span 12;
    }
    .col2 {
        grid-column-end: span 6;
    }
    .col3 {
        grid-column-end: span 4;
    }
    .col4 {
        grid-column-end: span 3;
    }
    .col6 {
        grid-column-end: span 2;
    }
    .col12 {
        grid-column-end: span 1;
    }
}
