@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&family=Catamaran:wght@400;600&family=Maitree:wght@400;600&display=swap');

body{
  margin: 0;
  background-color: black;
  animation: fadeIn 2s;
}

*{
  box-sizing: border-box;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* font */
.assistant-reg{
   font-family: 'Assistant', sans-serif;
  font-weight:400;
}

.assistant-semib{
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
}

.assistant-b{
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
}

.catamara{
  font-family: 'Catamaran', sans-serif;
}

.catamara-semib{
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

.maitree{
  font-family: 'Maitree', serif;
  font-weight:400;
}
.maitree-semib{
  font-family: 'Maitree', serif;
  font-weight: 600;
}
/*  */

/* size and color */
.white70{
  font-size: 70px;
  text-align: center;
  color: #FFFDFA;
}

.white60{
    font-size: 60px;
    color: #FFFDFA;
}

.white53{
    font-size: 53px;
    line-height: 54px;
    color: #FFFDFA;
    text-align: center;
    margin: 0;
}
.white35{
    font-size: 35px;
    color: #FFFDFA;
}
.white33{
  font-size: 33px; 
  text-align: center;
  color: #FFFDFA;
  line-height:54px;
  margin: 0;
}

.white30{
    font-size: 30px;
    text-align: left;
    color: #FFFDFA;
    line-height: 44px;
}

.white28{
    font-size: 28px;
    color: #FFFDFA;
}

.white24{
    font-size: 24px;
    color:#FFFDFA;
    line-height: 30px;
    text-align: center;
    margin: 0;
}

.white22{
    font-size: 22px;
    color: #FFFDFA;
}


.pink30{
    font-size: 30px;
    color: #FEA2A2;
    line-height: 50px;
    text-align: center;
    margin: 0;
}

.pink35{
    font-size: 35px;
    color: #FEA2A2;
}

.pink50{
  font-size: 50px;
  text-align: center;
  color: #FEA2A2;
  margin-top: 5%;
  line-height:54px;
}

.pink60{
    font-size: 60px;
    text-align: left;
    color: #FEA2A2;
    line-height:99px;
}

.pink70{
    font-size: 70px;
    color: #FEA2A2;
    line-height: 116px;
    margin: 0;
    margin-top: 5%;
}

.black20{
    font-size: 20px;
    color: #5f5865;
    line-height: 25px;
}

.black35{
    font-size: 35px;
    color: #5f5865;
    line-height: 45px;
    text-align: center;
}
/*  */


.homeBG{
    height: 100vh;
    background-color: #b8b8b8;
    background-image: url(../img/Homepage_BG_Picture.jpg);
    background-size: cover;
    background-position: center; 
}

.homeTitle{
    padding: 15% 0;
}

.line{
    height: 5px;
    width: 58px;
    border-radius: 15%;
    background-color: #FFFDFA;
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 4%;
}

.bgGradient{
  background: linear-gradient( rgba(24,17,18,1) 0%, rgba(63,58,67,1) 100%);  
}

.logo{
  width: 100%;
  height: auto;
  padding-left: 100px;
  padding-top: 40px;
}

.bigAssLogo{
    width: 100%;
    height: auto;
}

/* responsive*/
.rsp{
    max-width: 100%;
    width: 330px;
    height: auto;
}
/* ------ */

.histOfCard{
    margin-top: 25%;
}

.container{
    margin-top: 20%;
    position: relative;
    text-align: center;
}

.cardtitle{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navButton{
    width: 262px;
    height: auto;
    background-color: #FEA2A2;
    border-radius: 60px;
    text-align: center;
    cursor: pointer;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 20%;
    transition: all 0.3s ease;
}

.navButton:hover{
    background-color: #ffd3d3;
    border-radius: 25px;
}

.navButton a{
    text-decoration: none;
}

.navButtonTitle{
    padding: 3%;
}


/*current page underline*/
.current{
    text-decoration: underline!important;
    animation: none!important;
}

.current:hover{
    color: #FFFDFA!important;
}


/* nav bar style*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 100px;
}

.navbar-links li{
    list-style: none;
    font-size: 20px;
}

.navbar-links li a{
    color: #FFFDFA;
    text-decoration: none;
    display:block;
    padding: 1rem;
    transition: all 0.3s ease;
}

.navbar-links ul li a:hover{
    color: gray;
    padding-top: 10px;
}
/* nav bar style end*/

/*Toggle button*/
.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FFFDFA;
    border-radius: 10px;
}
/*Toggle Button end*/

/*Media Queries for Phone*/
@media (max-width: 700px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        background-color: rgba(95, 88, 101, 0.1);
      padding-right: 0px;
    }

    .darkerBG ul{
        background-color:  rgba(0, 0, 0, 0.5);
    }

    .navbar-links li{
        text-align: center
    }
    
    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    .picture{
        width: 35%;
    }

    .logo{
      padding-left: 20px;
      padding-top: 20px;
      width: 70%;
    }


    .bigfontsize{
      font-size: 40px;
      margin-top: 30%;
    }
}


/* footer styling */

.footerContainer{
	max-width: 1170px;
    max-height: 232px;
	margin:auto;
}
.footerRow{
	display: flex;
	flex-wrap: wrap;
}
.footer{
	background-color: #FEA2A2;
    padding: 50px 0;
    padding-left: 10%;
}
.footer-col{
   width: 30%;
   margin: 0 auto;
}

.footer-col h4{
    margin-bottom: 0;
}
.footer-col ul{
	list-style: none;
    padding: 0;
}
.footer-col ul li a{
    font-size: 18px;
    color: #5f5865;
    line-height: 25px;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #FFFDFA;
	padding-left: 8px;
}

.footerLogo{
    float: left;
    padding-top: 20px;
    padding-right: 5px;
}
/* ............ */


/* tutorial card*/

.tutorialGradient{
    background: linear-gradient(rgba(28,20,23,1) 0%, rgba(95,88,101,1) 100%);
    background-color:#5f5865;
}

.letsLearnYour{
    text-align: center;
}

.ohTutorialCard{
    background-image:url(../img/oneHandCut.png);
    height: 330px;
    width: 330px;
    margin-top: 25%;
    margin-left: 35%;
}
.ohTutorialCard h3{
    padding-top: 30%;
}

.thTutorialCard{
    background-image: url(../img/twoHandCut.png);
    width: 330px;
    height: 330px;
    margin-top: 25%;
    margin-left: 20%;
}
.thTutorialCard h3{
    padding-top: 30%;
} 

.isoTutorialCard{
    background-image: url(../img/isolation.png);
    width: 330px;
    height: 330px;
    margin-top: 25%;
    margin-left: 5%;
}
.isoTutorialCard h3{
    padding-top: 30%;
}

.fanTutorialCard {
    background-image: url(../img/Fan.png);
    width: 330px;
    height: 330px;
    margin-top: 10%;
    margin-left: 50%;
}
.fanTutorialCard h3{
    padding-top: 30%;
}

.arielTutorialCard{
    background-image: url(../img/Ariel.png);
    width: 330px;
    height: 330px;
    margin-top: 10%;
    margin-left: 10%;
}
.arielTutorialCard h3{
    padding-top: 30%;
}

.wechoose{
    margin-top: 10%;
    margin-bottom: 10%;
}

.tutorcontainer{
    position: relative;
    text-align: center;
}

.tutorialrsp{
    max-width: 100%;
    width: 60%;
    height: auto;
    filter: brightness(50%);
    transition: all 0.3s ease;
}

.tutorcontainer:hover .tutorcardtitle{
    opacity: 0;
}
.tutorcontainer:hover .tutorialrsp{
    filter: brightness(100%);
}

.tutorcardtitle{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
/* ...... */

/* Event style */
.eventBGColor{
    background-color: #FFFDFA;
}

.eventBG{
    height: 50vh;
    background-color: #b8b8b8;
    background-image: url(../img/CardistryCon.jpg);
    background-size: cover;
    background-position: center; 
}

.cardistryConIs{
    margin-top: 100px;
    margin-bottom: 100px;
}

.eventContainer{
    position: relative;
    text-align: center;
    height: 308px;
}

.eventrsp{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    transition: all 0.3s ease;
}

.eventTitle{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: all 0.3s ease;
    width: 1200px;
}

.eventContainer:hover .eventrsp{
    filter: brightness(100%);
}
.eventContainer:hover .eventTitle{
    opacity: 0;
}


/* ........ */

/* How to Start */

.howToStart{
    text-align: center;
}

.toStartCard{
    line-height: 40px;        
    text-align: center;
}

.brandTitle{
    margin-top: 15%;
}

.youCanFind{
    margin-top: 5%;
    margin-bottom: 5%;
}

.clickHereButton{
    color:#FFFDFA;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 50px;
    background-color: #FEA2A2;
    text-decoration: none;
    cursor: pointer;
    width: 176px;
    transition: all 0.3s ease;
}

.clickHereButton:hover{
    background-color: #FFFDFA;
    color: #FEA2A2;
    border-radius: 15px;
}

.bicyclersp{
    max-width: 100%;
    height: auto;
    padding: 15%;
}

.beersp{
    max-width: 100%;
    height: auto;
    padding-top: 15%;
    padding-left: 25%;
}

.virtrsp{
    max-width: 100%;
    height: auto;
    padding-top: 15%;
    padding-left: 28%;
}

.marginbuttom{
    margin-bottom: 25%;
}
/* ..... */

/*12gridProperties*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* default - small devices */

[class*="col"] {
    grid-column-end: span 12;
}


/* below 600px typically tablet*/

@media only screen and (max-width: 600px) {


/* How To Start */
    .bicyclersp{
        padding: 5%;
    }

    .beersp{
        padding: 5%;
    }

    .virtrsp{
        max-width: 100%;
        height: auto;
        padding: 5%;
    }

    .marginbuttom{
        margin-bottom: 5%;
    }

    .clickHereButton{
        width: 150px;
    }
/* ...... */


    /* event */
    .eventTitle{
        width: 300px;
    }

    .eventrsp{
        max-width: none;
        max-height: none;
        height: 100%;
        object-fit:cover;
    }

    .eventContainer{
        height: 150px;
    }

    .eventBG{
        height: 30vh;
    }

    .cardistryConIs{
        padding-left: 20px;
        padding-right: 20px;
    }

    .whatIsCC{
        margin-top: 50px;
    }
/* ..... */


/* tutorial */
    .ohTutorialCard, .thTutorialCard, .isoTutorialCard, .fanTutorialCard, .arielTutorialCard {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }

    .tutorialrsp{
        width: 50%;
    }
/* ...... */
 
    .pink35{
        font-size: 20px;
    }
    .pink60{
        font-size: 35px;
    }
    .pink50{
        font-size: 30px;
        line-height: 35px;
    } 
    .pink70{
        font-size: 35px;
        line-height: 40px;
    }

    .white53{
        font-size: 25px;
        line-height: 30px;
        margin-top: 50px;
    }
    .white35{
        font-size: 20px;
    }
    .white70{
        font-size: 35px;
        text-align: center;
    }
    .white60{
        font-size: 30px;
    }
    .white33{
        font-size: 23px;
        line-height: 25px;
    }
    .white30{
        font-size: 20px;
        line-height: 30px;
    }
    .white28{
        font-size: 20px;
    }
    .white22{
        font-size: 15px;
    }

    .black35{
        font-size: 18px;
        line-height: 25px;
    }

    .navButton{
        margin-left: 25%;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 200px;
        border-radius: 40px;
        
    }

    .bigAssLogo{
        margin-bottom: 100px;
    }

    .rsp{
        width:70%;
    }

    .line{
        margin-top: 65%;
    }

    .footer-col{
        width: 100%;
    }

    .footerContainer{
        max-height: none;
    }

    .padded {
        padding: 20px;
    }
    .sm1 {
        grid-column-end: span 12;
    }
    .sm2 {
        grid-column-end: span 6;
    }
    .sm3 {
        grid-column-end: span 4;
    }
    .sm4 {
        grid-column-end: span 3;
    }
    .sm6 {
        grid-column-end: span 2;
    }
    .sm12 {
        grid-column-end: span 1;
    }
}

/* above 601px typically tablet*/

@media only screen and (min-width: 601px) {

    /* .footer-col{
        width: 50%;
        margin-bottom: 30px;
    } */

    .padded {
        padding: 80px;
    }
    .md1 {
        grid-column-end: span 12;
    }
    .md2 {
        grid-column-end: span 6;
    }
    .md3 {
        grid-column-end: span 4;
    }
    .md4 {
        grid-column-end: span 3;
    }
    .md6 {
        grid-column-end: span 2;
    }
    .md12 {
        grid-column-end: span 1;
    }
}

/* above 1025px typically desktop*/

@media only screen and (min-width: 1025px) {
    .padded {
        padding: 50px 140px;
    }
    .col1 {
        grid-column-end: span 12;
    }
    .col2 {
        grid-column-end: span 6;
    }
    .col3 {
        grid-column-end: span 4;
    }
    .col4 {
        grid-column-end: span 3;
    }
    .col6 {
        grid-column-end: span 2;
    }
    .col12 {
        grid-column-end: span 1;
    }
}
